<style type="text/css">
    .mediumHeader {
        border-bottom: 1px solid #cddee7;
        padding-bottom: 3px;
        margin-bottom: 25px;
    }
    .subHeader {
        border-bottom: 1px dotted #cddee7;
        padding-bottom: 3px;
        margin-bottom: 25px;
    }
</style>
<h3 class="mediumHeader"><__trans phrase="Settings for Twitter"></h3>
<mtapp:setting
    id="remtter_oauth"
    label="<__trans phrase="Authentication">">
    <a href="<mt:var name="script_url">?__mode=remtter_oauth&amp;blog_id=<mt:var name="blog_id">" class="mt-open-dialog"><__trans phrase="OAuth authentication"></a>
</mtapp:setting>
<input type="hidden" name="last_modified" value="<mt:var name="last_modified" escape="html">">
<input type="hidden" name="access_token" value="<mt:var name="access_token" escape="html">">
<input type="hidden" name="access_token_secret" value="<mt:var name="access_token_secret" escape="html">">
<input type="hidden" name="last_follower_ids" value="<mt:var name="last_follower_ids" escape="html">">
<h3 class="mediumHeader"><__trans phrase="Settings for mail"></h3>
<mtapp:setting
    id="notification_by_mail"
    label="<__trans phrase="Notification by mail">">
    <input type="checkbox" name="notification_by_mail"<mt:if name="notification_by_mail"> checked="checked"</mt:if> /> <__trans phrase="Enable">
</mtapp:setting>
<mtapp:setting
    id="mail_subject"
    label="<__trans phrase="Mail subject">">
    <input type="text" class="text" name="mail_subject" value="<mt:var name="mail_subject" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="mail_body"
    label="<__trans phrase="Mail body">">
    <textarea name="mail_body" id="mail_body"><mt:var name="mail_body" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="mail_to"
    label="<__trans phrase="Mail to">">
    <textarea name="mail_to" id="mail_to"><mt:var name="mail_to" escape="html"></textarea>
    <p class="hint"><__trans phrase="One setting per line"></p>
</mtapp:setting>
<mtapp:setting
    id="mail_from"
    label="<__trans phrase="Mail from">">
    <input type="text" class="text" name="mail_from" value="<mt:var name="mail_from" escape="html">" />
</mtapp:setting>
<h3 class="mediumHeader"><__trans phrase="Settings for direct message"></h3>
<mtapp:setting
    id="notification_by_direct_message"
    label="<__trans phrase="Notification by direct message">">
    <input type="checkbox" name="notification_by_direct_message"<mt:if name="notification_by_direct_message"> checked="checked"</mt:if> /> <__trans phrase="Enable">
</mtapp:setting>
<mtapp:setting
    id="message_body"
    label="<__trans phrase="Message body">">
    <textarea name="message_body" id="message_body"><mt:var name="message_body" escape="html"></textarea>
</mtapp:setting>
<h3 class="mediumHeader"><__trans phrase="Settings for log"></h3>
<mtapp:setting
    id="result_log"
    label="<__trans phrase="Result log">">
    <input type="checkbox" name="result_log"<mt:if name="result_log"> checked="checked"</mt:if> /> <__trans phrase="Loging">
    <p class="hint"><__trans phrase="If this setting is on, write to log about being removed or followers num, per execute."></p>
</mtapp:setting>
<h3 class="mediumHeader"><__trans phrase="Others"></h3>
<h4 class="subHeader"><__trans phrase="Status(at last task)"></h4>
<mtapp:setting
    id="follower_num"
    label="<__trans phrase="Follower number">">
    <p><mt:var name="follower_num" escape="html"></p>
    <div id="data-last_follower_ids-switch-open">
        <p><a href="javascript:void(0);" onclick="
            jQuery( '#data-last_follower_ids' ).css( 'display', 'block' );
            jQuery( '#data-last_follower_ids-switch-close' ).css( 'display', 'block' );
            jQuery( '#data-last_follower_ids-switch-open' ).css( 'display', 'none' );
        "><__trans phrase="Show"></a></p>
    </div>
    <div id="data-last_follower_ids-switch-close" style="display:none;">
        <p><a href="javascript:void(0);" onclick="
            jQuery( '#data-last_follower_ids' ).css( 'display', 'none' );
            jQuery( '#data-last_follower_ids-switch-close' ).css( 'display', 'none' );
            jQuery( '#data-last_follower_ids-switch-open' ).css( 'display', 'block' );
        "><__trans phrase="Close"></a></p>
    </div>
    <div id="data-last_follower_ids" style="display:none;">
    <mt:loop name="last_follower_ids_loop">
        <mt:if name="__first__"><ul></mt:if>
            <li><a href="http://api.twitter.com/1/users/show.xml?id=<mt:var name="__value__" escape="html">" target="_blank"><mt:var name="__value__" escape="html"></a></li>
        <mt:if name="__last__"></ul></mt:if>
    </mt:loop>
    </div>
</mtapp:setting>

